<!DOCTYPE html>
<html lang="en" layout:decorator="layout/defaultLayout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body layout:fragment="body">
<div class="container">
    <h1>My Blog</h1>
    <br>
    <table class="table table-hover table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>Index</th>
            <th>Title</th>
            <th>Author</th>
            <th>Last Modified Date</th>
        </tr>
        </thead>
        <tbody id="tbody" th:if="${not #strings.isEmpty(articles)}">
        <tr th:each="article, index : ${articles}"
            th:onclick="'window.location.href= \'' + @{/articles/{id}(id=${article.id})} + '\''">
            <td th:text="${index.count}"></td>
            <td th:text="${article.title}"></td>
            <td th:text="${article.authorName}"></td>
            <td th:text="${article.createdDate}"></td>
        </tr>
        </tbody>
    </table>
    <div class="row col-md-6">
        <a class="btn btn-primary" href="/writing" role="button">
            Write
        </a>
    </div>
</div>
</body>
</html>
