<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<h1>My Blog</h1>
<br>
<h2>게시글 목록</h2>
<div th:if="${not #strings.isEmpty(articles)}">
    <p>등록된 게시글이 없습니다.</p>
</div>
<tr th:each="article:${articles}">
    <td th:text="${article.id}"></td>
    <td th:text="${article.authorName}"></td>
    <td th:text="${article.content}"></td>
</tr>
<form action="/writing">
    <button formmethod="get" name="게시글 작성" value="게시글 작성">게시글 작성</button>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/index.js"></script>
</body>
</html>
